{% load static  %}
<nav class="navbar shadow p-3 mb-4" style="background-color: rgb(170, 230, 11)" >
    <div class="container-fluid">

        <a class="navbar-brand link-light" href="{% url 'shop' %}"><img src="{% static 'pics/Screenshot 2023-11-07 133320.png'%}" alt="unser Logo" style="height: 3em;"/> </a>
        <div class="navbar-nav">
            <div class="d-flex">
                <a class="nav-link link-light p-2" href="#">Login</a>
                <a class="nav-link link-light p-2" href="{% url 'warenkorb' %}"><img src="{% static 'pics/cart4.svg' %}" alt="Ein Einkaufswagen">
                <span class="position-absolute top-25 start-25 translate-middle badge rounded-pill bg-danger">
                    99
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
            </div>
        </div>  
    </div>
</nav>